@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  background: #050505;
  color: #ffffff;
}

@media (min-width: 1024px) {

  body,
  a,
  button,
  input,
  textarea {
    cursor: none;
  }
}


.mask-gradient-bottom {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 40s linear infinite;
}